body {
    font-size: 1em;
    margin-top: 10%;
    padding-bottom: 5%;
}

.compcard {
    padding-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.3);
}

.compcardgallerybig {
    float: left;
    width: 50%;
}

.compcardgallerybig img,
.compcardgallerysmalls img {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 0.2em solid white;
    border-left: 0.2em solid white;
}

.compcardgallerycolumn {
    width: 25%;
    float: left;
}

.stats {
    margin-bottom: 8px;
    margin-left: 3px;
}

.stats tr td {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-right: 3px;
    width: 16.3%;
}

.stats tr td:nth-child(odd) {
    text-align: right;
}

.stats tr td:nth-child(even) {
    text-align: left;
}

table td,
table th {
    margin: 5px;
    padding: 5px;
}

.contactdetails {
    padding-top: 2rem;
    border-top: 1px solid #E1E1E1;
}

.representation div,
.contact {
    display: inline-block;
}

.representation img {
    height: 10em;
    float: left;
    margin-right: 1em;
}

.representation p {
    margin-bottom: .8em;
}

.contact {
    text-align: right;
}

input,
textarea {
    width: 100%;
}

/* Responsive Youtube Player */

.embed-container {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Contact Form Popup */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    transition: opacity 500ms;
}

.popup {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background: white;
    width: 70%;
}

.popup textarea {
    resize: none;
    height: 100%;
}

.close {
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 0px !important;
    right: 10px !important;
    margin: 0;
    padding: 0;
    border: none;
}

.close:hover {
    color: #33C3F0;
}

#thankYou {
    display: none;
}

/* Larger than tablet */

@media (min-width: 750px) {
    body {
        font-size: 1.5em;
    }

    h1 {
        font-size: 6rem;
    }


    .compcard {
        padding-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .stats {
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .compcard table tr td {
        display: table-cell;
        width: auto;
        border-bottom: none;
        text-align: center;
    }

    .popup {
        width: 50%;
    }

}

@media (min-width: 550px) and (max-width: 615px) {
    .representation,
    .contact {
        width: 100% !important;
    }
}

@media print {
    h4 {
        -webkit-column-break-after: avoid;
        break-after: avoid;
    }
}
